@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/DINPro/DINPro.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/assets/fonts/DINPro/DINPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/DINPro/DINPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/DINPro/DINPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/assets/fonts/DINPro/DINPro-Light.ttf') format('truetype');
}
